#register, #login {
    width: 300px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 35px auto;
}

.maindiv{
    margin: 35px auto;
    padding: 0px 15px 15px 15px;
}

.title{
    margin-top:250px;
}

label,input,select {
    display: block;
    margin-bottom: 10px;
    width: 90%
}

input {
    padding: 10px;
    border: solid 1px #BDC7D8;
}

select{
    padding: 10px;
    border: solid 1px #BDC7D8;

}

.button {
    background-color: lightseagreen;
    border-color: #3ac162;
    font-weight: bold;
    padding: 6px 15px;
    color: #ffffff;
    margin-right: 50px;
}

.buttonview{
    background-color: lightseagreen;
    border-color: #3ac162;
    font-weight: bold;
    padding: 6px 15px;
    color: #ffffff;
    margin-right: 50px;
    width: 250px;
}

.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
}

.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
}

.header {
    background: lightseagreen;
    height: 50px;
    padding-top: 25px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 10px;
}

.label-primary {
    background-color: darkgray;
}

.alignlogin{
float: right;
}
